$navbar-size: 4em;

$letter-spacing-xxs: 0.02em;
$letter-spacing-xs: 0.04em;
$letter-spacing-sm: 0.08em;

$text-light: white;
$text-dark: #212121;
$text-light-dark: #525252;

$c-light: white;
$c-light-dark: #dee2e6;
$c-dark: #dee2e6;

$c-palette-light: #70aecb;
$c-palette-primary: #008db1;

$c-palette-accent-primary: #f1ca13;
$c-palette-accent-dark: #e5ac19;

$c-palette-sec-primary: #665ca0;

$background-green:#c2d8c1;
$text-green:#2b5f64;
$text-light-green:#2b5f6462;